#home-page {
  background: url(../assets/home-bg.jpg);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#home-content {
  position: relative;
  z-index: 2;
}

#top-bar {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#title-div {
  position: absolute;
  top: -60px;
  left: 2rem;
  color: var(--primary);
  display: flex;
  align-items: baseline;
  gap: 0.6rem;
}

@media only screen and (max-width: 1350px) {
  #title-div {
    position: static;
  }

  #top-bar {
    justify-content: space-between;
  }
}

#title-div h1 {
  font-size: 3rem;
}

#crown-logo {
  fill: var(--primary);
  width: 3rem;
}

/* HOME OPTION BAR */

#home-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background-color: var(--dark);
  border-radius: 20px;
  padding: 8px 18px 8px 18px;
}

#home-options button {
  border-radius: 20px;
  padding: 10px 24px 10px 24px;
}

#home-login-btn {
  border: 1px var(--primary) solid;
  color: var(--primary);
  background-color: var(--darker);
}

#home-login-btn:hover {
  border: 1px var(--accent1) solid;
  color: var(--accent1);
}

#home-singup-btn {
  border: 1px var(--primary) solid;
  background-color: var(--primary);
  color: var(--dark);
}

#home-singup-btn:hover {
  border: 1px var(--accent1) solid;
  background-color: var(--accent1);
}

/* QUOTE */

#quote-div {
  margin-top: 16rem;
  text-align: center;
  color: var(--primary);
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

#quote {
  font-size: min(4vw, 2.5rem);
}

#author {
  font-size: min(2vw, 1.5rem);
}
