#market-search-div {
  width: 16rem;
  height: 4rem;
}

#market-search-div #search-input {
  border: 1px var(--primary) solid;
}

#market-stock-info #top-div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#item-logo {
  max-width: 50px;
  max-height: 50px;
}

#market-stock-info h1 {
  margin-bottom: 0;
}

#market-stock-info p {
  margin-top: 2px;
}

#market-stock-desc {
  margin-bottom: 60px;
  width: 50%;
}
