#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 50px 0 50px;
}

#navbar a {
  color: var(--primary);
  text-decoration: none;
  font-size: 2rem;
}

#navbar-left-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

#signin-user-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

#time-control {
  flex: 1;
  position: fixed;
}

#navbar #website-title {
  position: static;
  flex: 1;
}

#signout-btn:hover {
  cursor: pointer;
}
