#search-bar {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

#search-input {
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background-color: var(--lighter);
  color: var(--primary);
}

#search-dropdown {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  border-radius: 16px;
  background-color: var(--darker);
  opacity: 0.7;

  position: absolute;
  left: 0;
  top: 130%;
  width: 100%;

  transition: height 1s ease;
}

#search-dropdown li {
  color: var(--primary);
  float: left;
  position: relative;
  width: 100%;
}

#search-dropdown li:hover {
  cursor: pointer;
}

#search-dropdown li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-dropdown li p strong {
  color: var(--accent1);
}
